FontCreator/Debug
FontCreator/.vs
FontCreator/FontCreator.ico
FontCreator/FontCreator.rc
FontCreator/FontCreator.sln
FontCreator/*.vcxproj
FontCreator/FontCreator.vcxproj.filters
FontCreator/FontCreator.vcxproj.user
FontCreator/framework.h
FontCreator/Resource.h
FontCreator/small.ico
FontCreator/targetver.h
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
FontCreator/sample.log
FontCreator/backup.txt